@import url('https://fonts.googleapis.com/css?family=Archivo');

* {
  font-family: Archivo, Arial, Helvetica, sans-serif;
}

:root {
  --Colour1: #ffffff;
  --Colour3: #252529;
  --Colour4: #ffffff86;

}

body {
  margin: 0;
}

.top-bar{
  background-color: var(--Colour3);
  margin: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  border-bottom: 15px solid var(--Colour4)

}

h1{
  color: var(--Colour1);
  background-color: var(--Colour3);
  position: relative;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 6rem;
  display: inline-block;

}
nav{
  position: absolute;
  background-color: inherit;
  display: inline-block;
  right: 1%;
  margin-top: 30px;
  font-size: 1.5rem;
}
a {
  background-color: var(--Colour3);
  color:var(--Colour1);
  text-decoration: none;
  border-radius: 0%;
  font-size: 200%;
  border: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;

}



a:hover{
background-color: var(--Colour4);
text-decoration: none;
color: var(--Colour3);

}
h2 {
color:var(--Colour3);
}

[value=submit] {
  background-color:var(--Colour3);
  color: var(--Colour1);
  border-width: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

[value=submit]:hover {
  cursor: pointer;

}
main {
  
  margin-top: 10rem;
 
}

h2 {
  text-align: center;
  font-size: 4rem;
 }
form {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: repeat(4,1fr);
  margin-top: 5rem;
  gap: 10px;
}

.name-email {
  grid-column-start: 2;
  font-size: 3rem;
  display:flex;
  flex-wrap: wrap;
  justify-items: center;
}

.name-email input {
  height: 3rem;
  width: 30rem;
}

.name-all {
  display:flex;

}
.email-all {
  display:flex;
}
.reason {
  grid-column-start: 2;
  grid-row-start: 2;
  font-size: 3rem;
}
.reason input {
  width: 3rem;
}

.message {
  grid-column-start: 2;
  grid-row-start: 3;
}

.message label {
  display: block;
  font-size: 3rem;
}

textarea {
  width: 100%;
}
.submit {
  grid-column-start: 2;
  grid-row-start: 4;
}