* {
  font-family:Arial, Helvetica, sans-serif;
}

:root {
  --Colour1: #043927;
  --Colour3: #ffffff;
  --Colour4: #04392750;


}
* {
  background-color: var(--Colour1);
}

header {
  background-color: var(--Colour3);
  margin: -10px;
}
h1{
  color: var(--Colour1);
  background-color: inherit;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 100px;
  left: 0.65%;
  display: inline-block;

}
nav{
  position: absolute;
  background-color: inherit;
  display: inline-block;
  right: 1%;
  margin-top: 35px;
  
 
}
a {
  background-color: var(--Colour3);
  color:var(--Colour1);
  text-decoration: none;
  border-radius: 0%;
  font-size: 200%;
  border: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;

}



a:hover{
background-color: var(--Colour4);
text-decoration: none;
color: var(--Colour3);

}
figure {
 
  display:inline-block;
  margin-top: 100px;


}

.img-container {
  height: 300px;
  width: 300px;
  border: 20px solid var(--Colour3);
  margin: 20px;
  border-radius: 1.5%;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  margin: 4px
}


.cap-container {
  height:min-content;
  width: 300px;
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: var(--Colour3);
}



h3 {
  color: var(--Colour3);
}


main {

  color: var(--Colour3);

}
