* {
  font-family:Arial, Helvetica, sans-serif;
}
* {
  background-color: #7a8b9e;
}

header {
  background-color: bisque;
  margin: -10px;
}
h1{
  color: #7a8b9e;
  background-color: inherit;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 100px;
  display: inline-block;

}
nav{
  position: absolute;
  background-color: inherit;
  display: inline-block;
  right: 1%;
  margin-top: 35px;
  
 
}
a {
  background-color: bisque;
  color:#7a8b9e;
  text-decoration: none;
  border-radius: 0%;
  font-size: 200%;
  border: 15px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;

}

#contact-link {
  text-align: center;

}

#projects-link {
  text-align: center;

}

a:hover{
background-color: #7a8b9e;
text-decoration: none;
color: bisque;

}
figure {
 
  display:inline-block;
  margin-top: 100px;


}

.img-container {
  height: 300px;
  width: 300px;
  border: 20px solid bisque;
  margin: 20px;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  margin: 4px
}


.cap-container {
  height:min-content;
  width: 300px;
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: bisque;
}



h3 {
  color: bisque;
}


main {

  color:#ffffff;

}
